# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio and IDE files
.vs/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.user
*.userosscache
*.sln.docstates

# Build and temporary files
Build/
*.log
*.tmp
*.user

# Unreal generated solution/project files
*.sln
*.slnx


# OS files
.DS_Store
Thumbs.db